<div class="background-Wrap">
<div class="container" >
    <div class="row">
        <div class="myboard-login">
            <h3 class="myboard-login__title">Login</h3>
            <form class="form-signin" name="signinForm" role="form">
                <div class="tile tile-login">
                    <img class="logo" src="asserts/images/logo-alt.png" alt="" width="152">
                    <div class="form-group" ng-class="{ 'has-error' : signinForm.email.$invalid }">
                        <div class="input-icon">
                            <span class="fa-lock fa"></span>
                            <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="email">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : signinForm.password.$invalid }">
                        <div class="input-icon">
                        <span class="fa-lock fa"></span>
                        <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="3" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">
                        </div>
                    </div>
                    
                    <button ng-disabled="!user.email || !user.password" type="button" ng-click="SignIn($event)" class="btn btn-block btn-primary">Sign In</button>
                    <div class="login-action clearfix">
                        <div class="pull-left">
                            <a href="#/register">Register</a>
                        </div>
                        <div class="pull-right">
                            <a href="#/forget">Forget Password?</a>
                        </div>
                    </div>
                    <ul class="myboard-login__auth">
                        <li ng-click="loginGitHub()">
                            <button class="btn btn-block btn-primary"><i class="fa fa-github-alt"></i>Github</button>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>

</div>