/*@input-bg:                  @inverse;*/
/*@alert-padding:               15px;
@alert-border-radius:         @border-radius-base;
@alert-link-font-weight:      bold;*/
.masthead {
  background-image: url('../../asserts/images/artic-sky3.jpg');
  background-size: cover;
  padding: 100px 0;
  position: relative;
  z-index: 2;

}
.masthead img {
  position: relative;
  bottom: 75px;
  left: 5px;
}
.masthead .masthead-title {
  font-family: "SourceSansProExtraLight", Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 1.2;
  color: white;
}
.masthead .masthead-title small {
  color: white;
  font-family: "SourceSansProBold", Helvetica, Arial, sans-serif;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 4px;
}

.background-Wrap{
  background-image: url('../../asserts/images/artic-sky3.jpg');
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: 100vh;
}



@media (min-width: 1000px) {
  .container {
    width: 1170px;
  }
  .masthead {
    padding: 265px 0;
  }
  .masthead .masthead-title {
    font-size: 80px;
  }
  .masthead .masthead-title small {
    font-size: 30px;
  }
  .demo-section-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  
}

/*  Home Css */
.home-login{
      position: absolute;
    top: 5%;
    right: 5%;
    border: 1px solid #fff;
    padding: 3px 10px;
    border-radius: 3px;
    transition: 0.9s;
}

.home-login:hover{
  background: rgba(255, 255, 255, 0.29);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.home-login a{
  color:#fff;
}

.home-register{
    width: 250px;
    margin: 120px auto 20px auto;
}
/*  .Home Css */

/*  Login Css */

.myboard-login{
  width:400px;
  margin: 150px auto 0 auto;
}

.myboard-login__title{
  text-align: center;
  color: #fff;
}

.myboard-login__forget-link{

}

.myboard-login__auth{
  margin: 20px 0 0 0;
  padding: 0;
  text-align: left;
}
.myboard-login__auth li{
  margin: 0 0 0 0;
  padding: 0;
  list-style-type: none;
}
.myboard-login__auth li i{
  color: #fff;
  margin-right: 10px;
}
.has-error .form-control{
  border: 1px solid #f84545;
}
/*  .Login Css */


/*  Admin */
.admin-search .control-label{
  font-size: 20px;
}

.thumbnail .caption .tag{
  margin:0 0 10px 0;
  padding:0;
}
.thumbnail .caption .tag li{
  list-style-type: none;
  display: inline-block;
  
}
.thumbnail .caption .tag li a{
  padding:0 10px;
  border: 1px solid #d6e1e5;
  border-radius: 3px;
}
.thumbnail .caption .tag li a:before{
  content: "#";
}
.thumbnail .caption .tag li:first-child{
  padding-left:0;
}
.thumbnail .caption .tag li:last-child{
  padding-right:0;
}

.thumbnail .caption h4{
  cursor: pointer;
}

/* .Admin */

/* Add Post */
.myboard-addPost {
    width: 600px;
    margin: 150px auto 0 auto;
}
