<div class="masthead" ng-controller="homeCtrl">
        <div class="container">
            <img src="asserts/images/logo.png" width="100px" alt="">
            <div class="masthead-title">Create your board with myBoard 
                <small>Easy and simple way to share board</small>
            </div>
            <div class="home-register">
                <a href="#/register" class="btn btn-block btn-primary btn-embossed">Register</a>
            </div>
            <div class="home-login"><a href="#/login">Login</a></div>
        </div>
    </div>